sap-jco-connect/events_v2_entrada.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified">
	<xs:element name="event">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="meterid" type="xs:string" />
				<xs:element name="sdp" type="xs:string" />
				<xs:element name="message" type="xs:string" />
				<xs:element name="logbookid" type="xs:int" minOccurs="0" />
				<xs:element name="startdatetime" type="xs:dateTime" />
				<xs:element name="enddatetime" type="xs:dateTime"
					minOccurs="0" />
				<xs:element name="datetime" type="xs:dateTime" />
				yyyy-MM-dd'T'HH:mm:ss
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>